* {
    background-color: #e0e0e0;
}

h1{
    text-shadow: 2px 2px gray;
    letter-spacing: 2px;
    text-align: center; 
    color: #f85441;
    padding-bottom: 80px;
    margin-bottom: -10px;
    background-color: #e0e0e0;
}

h2{
    padding-top: 100px;
}
.name *{
    text-align: right;
    color: #f85441;
    background-color: #e0e0e0;
    font-size: medium;
    text-shadow: none;
    letter-spacing: normal;
    padding-top: 0px;
    padding-right: 10px;
}

.flashcard{
    margin-top: -10px;
}

 .flashcard * {
    width: 50%;
    height: 100%;
    background-color: #96BE8C;
    color: black;
    text-shadow: none;
    letter-spacing: normal;
    padding-top: 50px;
    padding: 2px;
    margin-bottom: 0px;
    transform: translate(50%, 0%);
    box-shadow: 5px 5px #6D5A72;
    min-height: 33%;
    max-height: 33%;
    }    

div{
    background-color: #e0e0e0;
}

 #chars {
    font-size: xx-large;
    padding-top: 25px;
    padding-bottom: 10px;
   }
 #pinyin {
    font-size: medium;
    padding-bottom: 10px;
}
 #def {
    font-size: medium;
    margin-top: -5px;
    padding-bottom: 25px;
}

.card_buttons{
    padding-top: 15px;
    font-size: large;
    padding-bottom: 25px;
}

.card_buttons *{
    background-color: #f46050;
    color: black;
}

#csv_insert_line {
    text-align: left;
    font-size: 20px;
    color: black;
    text-shadow: none;
    letter-spacing: normal;
}

#submit_csv {
    text-align: left;
    font-size: small;
    padding-bottom: -100px;
    margin-left: 10px;
}

#import_button {
    margin-top: 10px;
    font-size: small;
    background-color: #f46050;
}