* {
    background-color: #e0e0e0;
}

.headers {
    text-align: center; 
    color: #f85441;
    margin-bottom: 0%; 
    margin-top: 0%;
    background-color: #e0e0e0;
}



 .flashcard * {
    width: 50%;
    height: 100%;
    background-color: rgb(216, 193, 162);
    color: black;
    margin-bottom: 0%;
}

div{
    background-color: #e0e0e0;
    transform: translate(25%, 0%);
}

.chars{
    font-size: xx-large;
    margin-top: 200px;
}
.pinyin{
    font-size: medium;
}
.def{
    font-size: medium;
}

.card_buttons{
    text-align: left;
    margin-top: 50px;
}

p {
    text-align: center;
    color: #f85441;
    font-size: x-large;
}
