* {
    background-color: #e0e0e0;
}

h1{
    text-shadow: 2px 2px gray;
    letter-spacing: 2px;
    text-align: center; 
    color: #f85441;
    padding-bottom: 80px;
    margin-bottom: -10px;
    background-color: #e0e0e0;
}

h2{
    padding-top: 100px;
}
.name *{
    text-align: left;
    color: #f85441;
    background-color: #e0e0e0;
    font-size: medium;
    text-shadow: none;
    letter-spacing: normal;
}

.flashcard{
    margin-top: -10px;
}

 .flashcard * {
    width: 50%;
    height: 100%;
    background-color: #96BE8C;
    color: black;
    text-shadow: none;
    letter-spacing: normal;
    padding-top: 50px;
    padding: 2px;
    margin-bottom: 0px;
    transform: translate(50%, 0%);
    }

div{
    background-color: #e0e0e0;
}

.chars{
    font-size: xx-large;
    padding-top: 25px;
    padding-bottom: 15px;
   }
.pinyin{
    font-size: medium;
    padding-bottom: 10px;
}
.def{
    font-size: medium;
    padding-bottom: 25px;
}

.card_buttons{
    padding-top: 25px;
    font-size: large;
    padding-right: 40%;
    padding-bottom: 25px;
}

p {
    text-align: center;
    color: #f85441;
    font-size: x-large;
}